/*FOOTER*/

footer {
    nav {
        .container {
            a {
                img {
                    width: 30px;
                    height: 28px;
                    &:hover {
                        display: inline-block;
                        -webkit-animation: heartBeat;
                        animation: heartBeat;
                        -webkit-animation-duration: 0.95s;
                        animation-duration: 0.95s;
                    }
                }
            }
        }
    }
    background-color: #806067;
    position: static;
    bottom: 0;
}